.button {
  border: none;
  background-color: var(--color-accent); /* Accent color for buttons */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1rem; /* Consistent font size */
  color: var(--color-secondary); /* Ensured text color contrast */
}

.button:hover {
  background-color: var(--color-highlight); /* Highlight color for hover */
  transform: scale(1.1);
}
