.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: var(--color-secondary); /* Dark background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 300px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, opacity 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-color: var(--color-highlight); /* Highlight color on hover */
}

.card-container:hover .card:not(:hover) {
  opacity: 0.5; /* Fades out other cards */
}

.card__image-container {
  position: relative;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
}

.card__image-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.card__content {
  padding: 15px;
  background: var(--color-secondary); /* Consistent background with card */
}


.card__title {
  color: var(--color-accent);
  font-size: 1.5rem;
  margin-bottom: 10px;
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.card__info {
  font-size: 0.9rem;
  color: var(--color-primary); /* Adjusted color for info text */
}

.card__info-title {
  font-weight: bold;
  color: var(--color-action); /* Action color for titles */
}

.card__info-description {
  color: var(--color-white);
}

li {
  list-style: none;
}

img {
  width: 100%;
  max-width: 900px;
}

